.details{
    min-height: calc(100vh-70px);
    padding: 0 calc(3.5vw + 5px);
    position: relative;
}

.details_background{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.8;
}


.movie_title{
    font-weight: 500;
    font-size: 30px;
    margin: 40px 0px;
}

.image_title{
    width: 30vh;
    min-height: 170px;
}

.control_buttons{
    display: flex;
}

.button{
    border-radius: 4px;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 46px;
    background:  rgb(249, 249, 249);
    border: none;
    padding: 0px 24px;
    margin-right: 22px;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.button:hover{
    background: rgb(198, 198, 198);
}

.button>img{
    width: 35px;
    height: 35px;
}

.trailer_button{
    background:  rgba(0,0,0,0.3);
    border: 1px solid rgb(249, 249, 249);
    color: rgb(249, 249, 249);
    text-transform: uppercase;
}

.round_button{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    background:  rgba(0,0,0,0.3);
    color: white;
    border: 1px solid rgb(249, 249, 249);
    cursor: pointer;
    margin-right: 16px;
}

.sub_title{
    color: rgb(249, 249, 249);
    margin-top: 20px;
}

.description{
    color: rgb(249, 249, 249);
    margin-top: 10px;
    line-height: 1.4;
    width: 700px;
    text-align: justify;
}
