.slick-list{
    overflow: visible;
}

.slider_img>img{
    border-radius: 10px;
    box-shadow: rgba(5, 4, 4, 0.35) 0px 5px 15px;
    border: 4px solid transparent ;
    cursor: pointer;
}

.slider_img{
    transition-duration: 300ms;
}

.slider_img :hover{
    border: 4px solid rgba(249,249, 249, 0.8);
}

.slick-dots li button:before {
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgb(150,158, 171);
}

button{
    z-index: 1;
}