.home_container{
    min-height: calc(100vh-70px);
    padding: 0 calc(3.5vw + 5px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.home_container::before {
    content: ""; 
    background: url("/public/images/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: -1;
    position: fixed;
}